{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <!-- Meta & favicons -->
    {% block meta %}
        {% include 'layouts/meta.html' %}
    {% endblock meta %}
    <!-- End Meta & favicon -->

    <!-- Main Style Sheets -->
    {% block main_styles %}
        {% include 'layouts/styles.html' %}
        <style>
            .box:hover {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
        </style>
    {% endblock main_styles %}
    <!-- End Main Style Sheets -->
    <!-- Extra Style Sheets -->
    {% block extra_styles %}

    {% endblock extra_styles %}
    <!-- End Extra Style Sheets -->
</head>
<body>
<div id="pi-all">
    <!-- Header -->
    {% block header %}
        {% include 'layouts/header.html' %}
    {% endblock header %}
    <!-- End header -->
    {% block modal %}
        {% include 'layouts/modal.html' %}
    {% endblock modal %}
    <!-- End header -->
    <!-- Content -->
    {% block main-content %}
    {% endblock main-content %}
    <!-- End Content -->
    <!-- Footer -->
    {% block footer %}
        {% include 'layouts/footer.html' %}
    {% endblock footer %}
    <!-- End footer -->
</div>
<div class="pi-scroll-top-arrow" data-scroll-to="0"></div>
<!-- Main Scripts -->
{% block main_scripts %}
        {% include 'layouts/scripts.html' %}

    <!--  chat script -->
        <script type="text/javascript">
        var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
        (function(){
        var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
        s1.async=true;
        s1.src='https://embed.tawk.to/572c4eaa986b9aee7173a0a4/default';
        s1.charset='UTF-8';
        s1.setAttribute('crossorigin','*');
        s0.parentNode.insertBefore(s1,s0);
        })();
        </script>
    <!-- End Chat script -->

{% endblock main_scripts %}
<!-- End Main Scripts -->

<!-- Extra Scripts -->
{% block extra_scripts %}
<!--Start of Tawk.to Script-->

<!--End of Tawk.to Script-->
{% endblock extra_scripts %}
<!-- End Extra Scripts -->
</body>
</html>