{% load staticfiles %}
 <div class="pi-section-w pi-shadow-inside-top pi-section-dark">
            <div class="pi-texture" style="background: url(img/hexagon.png) repeat;"></div>
            <div class="pi-section pi-padding-top-50 pi-padding-bottom-30">

                <!-- Row -->
                <div class="pi-row">

                    <!-- Col 9 -->
                    <div class="pi-col-sm-9 pi-center-text-xs">
                        <h3 class="pi-weight-300">
                            Want to say Hey or find out more?
                        </h3>

                        <p class="lead-16">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                            consequuntur
                        </p>
                    </div>
                    <!-- End col 9 -->

                    <div class="pi-clearfix pi-visible-xs"></div>

                    <!-- Col 3 -->
                    <div class="pi-col-sm-3 pi-text-right pi-center-text-xs">
                        <p class="pi-margin-top-5">
                            <a href="#" class="btn pi-btn-base pi-btn-no-border pi-btn-big">
                                Get a Free Quote
                            </a>
                        </p>
                    </div>
                    <!-- End col 3 -->

                </div>
                <!-- End row -->

            </div>
        </div>
