{% load staticfiles %}
<div id="anchor-team" class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-20">
        <div class="pi-row">
            <div class="pi-col-xs-12 pi-col-lg-12 pi-padding-bottom-40 ">
                <h2 class="pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20">Our Team </h2>
            </div>
        </div>
		<div class="pi-row">

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="{% static 'img_external/team/leader-11.jpg' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Mike Ross</h3>
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Co-Founder, Art Director
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="{% static 'img_external/team/leader-22.jpg' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Mattias Nuffer</h3>
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Co-Founder, Web Developer
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="{% static 'img_external/team/leader-33.jpg' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Kindra Hall</h3>
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Web &amp; Graphic Designer
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="{% static 'img_external/team/leader-44.jpg' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Nora Anderson</h3>
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Project Manager
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="{% static 'img_external/team/leader-55.jpg' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Jim Terrell</h3>
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Client Manager
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="{% static 'img_external/team/leader-66.jpg' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Brian Kochar</h3>
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Web Developer
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px;">
						<a href="#">
							<img src="{% static 'img_external/team/leader-77.jpg' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-5">Anna Kochar</h3>
					<p class="pi-italic pi-text-base pi-margin-bottom-10">
						Client Manager
					</p>
					<p class="pi-margin-bottom-10">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<ul class="pi-social-icons-simple pi-small pi-colored clearFix">
						<li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
						<li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
						<li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
					</ul>
				<!-- End team member -->
			</div>

			<div class="pi-col-xs-6 pi-col-sm-3 pi-padding-bottom-40 pi-text-center">
				<!-- Team member -->
					<div class="pi-img-w pi-img-round pi-img-shadow pi-img-center" style="max-width: 220px; background: #f4f6f6">
						<a href="#">
							<img src="{% static 'img_external/team/leader-88.png' %}" alt="">
							<span class="pi-img-overlay pi-img-round">
								<span class="pi-caption-centered">
									<span>
										<span class="pi-caption-icon pi-caption-icon-light pi-caption-scale icon-plus"></span>
									</span>
								</span>
							</span>
						</a>
					</div>
					<h3 class="h4 pi-margin-bottom-10">We Need You!</h3>
					<p class="pi-margin-bottom-20">
						Leveraging our collective experience, we create extraordinary elegant solutions
					</p>
					<p>
						<a href="#" class="btn pi-btn-green">
							Vacancies
						</a>
					</p>
				<!-- End team member -->
			</div>

		</div>

	</div>
</div>