{% load staticfiles %}
<div id="anchor-whatwedo" class="pi-section-w pi-section-white" style="background-color:cornflowerblue; ">
	<div class="pi-section pi-padding-bottom-10">
		<div class="pi-text-center pi-padding-bottom-10">
			<h2 class="h2 pi-weight-700 pi-uppercase pi-has-border pi-has-tall-border pi-has-short-border pi-text-white">
				What We Do
			</h2>
			<p class="lead-34 pi-text-white pi-italic" style="font-family: 'Playfair Display';">
				"We provide end to end development support for your django application. We also provide dedicated Django experts for your product developement."
			</p>
		</div>
	</div>
</div>
