{% load staticfiles %}
<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-parallax pi-slider-enabled" style="background-color:rgb(63, 74, 113);">
	<div class="pi-texture" ></div>
	<div class="pi-section pi-padding-top-80 pi-padding-bottom-60">

		<!-- Slider -->
		<div class="pi-slider-wrapper pi-slider-arrows-inside pi-slider-show-arrow-hover pi-text-center">
			<div class="pi-slider pi-slider-animate-opacity">

				<!-- Row -->
				<div class="pi-row">

					<!-- Col 8 -->
					<div class="pi-col-sm-8 pi-col-sm-offset-2">

						<!-- Slide -->
						<div class="pi-slide">
							<div class="pi-img-w pi-img-round">
								<img src="{% static 'img_external/clients/amazon-5.png' %}" style="width: 200px;' %}" alt="" />
							</div>
							<p class="lead-30 pi-weight-300 pi-text-white pi-text-shadow pi-margin-bottom-25">
								Corrupti quos dolores et quas molestias excepturi praesentium voluptatum deleniti atque at vero eos et accusamus ducimus.
							</p>
							<p class="lead-18 pi-weight-700 pi-text-white pi-uppercase pi-letter-spacing pi-margin-bottom-5">
								Kindra Hall
							</p>
							<p class="pi-italic">
								Associate Director <a href="#">Company Inc.</a>
							</p>
						</div>
						<!-- End slide -->

						<!-- Slide -->
						<div class="pi-slide">
							<div class="pi-img-w pi-img-round">
								<img src="{% static 'img_external/testimonials/client-photo-2.jpg' %}" style="width: 80px;' %}" alt="" />
							</div>
							<p class="lead-30 pi-weight-300 pi-text-white pi-text-shadow pi-margin-bottom-25">
								Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi at vero eos et accusamus et iusto odio dignis.
							</p>
							<p class="lead-18 pi-weight-700 pi-text-white pi-uppercase pi-letter-spacing pi-margin-bottom-5">
								Jim Terrell
							</p>
							<p class="pi-italic">
								Project Director <a href="#">Company Inc.</a>
							</p>
						</div>
						<!-- End slide -->

						<!-- Slide -->
						<div class="pi-slide">
							<div class="pi-img-w pi-img-round">
								<img src="{% static 'img_external/testimonials/client-photo-1.jpg' %}" style="width: 80px;' %}" alt="" />
							</div>
							<p class="lead-30 pi-weight-300 pi-text-white pi-text-shadow pi-margin-bottom-25">
								Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi.
							</p>
							<p class="lead-18 pi-weight-700 pi-text-white pi-uppercase pi-letter-spacing pi-margin-bottom-5">
								Mattias Nuffer
							</p>
							<p class="pi-italic">
								Executive Director <a href="#">Company Inc.</a>
							</p>
						</div>
						<!-- End slide -->

					</div>
					<!-- End col 8 -->

				</div>
				<!-- End row -->

			</div>
		</div>
		<!-- End slider -->

	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->