{% load staticfiles %}
<div id="anchor-about" class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-10">

		<div class="pi-text-center pi-padding-bottom-10">
			<h2 class="h1 pi-weight-700 pi-uppercase pi-has-border pi-has-tall-border pi-has-short-border">
				What We Do
			</h2>
			<p class="lead-34 pi-text-dark pi-italic" style="font-family: 'Playfair Display';">
				"Our design and development team knows very well what it takes to successfully develop web products across multiple domains."
			</p>
		</div>



	</div>
</div>
