{% load staticfiles %}
<div id="anchor-home" class="tp-banner-container">
    <div class="tp-banner pi-revolution-slider">
        <ul class="">

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img_external/revolution-slider/home_bg1.jpeg' %}" alt="" data-bgfit="cover"
                     data-bgposition="center top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfr fadeout"
                     data-x="600"
                     data-y="140"
                     data-speed="2000"
                     data-start="2900"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img/slider/1/djpy.jpg' %}" alt="">
                </div>
                                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfl fadeout"
                     data-x="603"
                     data-y="267"
                     data-speed="2000"
                     data-start="2800"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img/slider/1/djapps.jpg' %}" alt="">
                </div>


                                                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout"
                     data-x="540"
                     data-y="390"
                     data-speed="2000"
                     data-start="1500"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img/slider/1/web.jpg' %}" alt="">
                </div>

                                                                <!-- LAYER NR. 1 -->
                <div class="tp-caption sft fadeout"
                     data-x="550"
                     data-y="37"
                     data-speed="1700"
                     data-start="2400"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img/slider/1/fe.png' %}" alt="">
                </div>


                                                                <!-- LAYER NR. 1 -->
                <div class="tp-caption sft fadeout"
                     data-x="850"
                     data-y="27"
                     data-speed="2000"
                     data-start="1900"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img/slider/1/jss.png' %}" alt="">
                </div>


                                                                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfr"
                     data-x="952"
                     data-y="157"
                     data-speed="2000"
                     data-start="2100"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img/slider/1/db.png' %}" alt="">
                </div>



                <!-- LAYER NR. 3 -->
                <div class="tp-caption sft str"
                     data-x="45" data-hoffset="0"
                     data-y="130"
                     data-speed="2000"
                     data-start="1000"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 5; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
                    We are your partner
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfl str"
                     data-x="45" data-hoffset="0"
                     data-y="207"
                     data-speed="2000"
                     data-start="1200"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 6; font-size: 20px; color: #fff; font-weight: 500; line-height: 28px; background: rgba(12,60,38,0.8); padding: 12px 16px; border-radius: 3px;">
                    in Django World
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfb str"
                     data-x="45" data-hoffset="0"
                     data-y="290"
                     data-speed="2000"
                     data-start="1400"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 7;">
                    <a href="#anchor-contact" data-scroll-to="#anchor-contact" data-scroll-to-offset="-70" class="btn pi-btn-base">
                        <i class="icon-mail pi-icon-left"></i>Get in touch
                    </a>
                </div>

            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img_external/revolution-slider/home_bg2.jpeg' %}" alt="" data-bgfit="cover"
                     data-bgposition="center top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->


                <!-- LAYER NR. 2 -->


                <!-- LAYER NR. 3 -->


                <!-- LAYER NR. 4 -->
                <div class="tp-caption sft str"
                     data-x="45" data-hoffset="0"
                     data-y="157"
                     data-speed="2000"
                     data-start="1000"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 6; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
                    We provide dedicated experts
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfl str"
                     data-x="45" data-hoffset="0"
                     data-y="236"
                     data-speed="2000"
                     data-start="1200"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 7; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
                    to support your product development (remote/onsite)
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfb str"
                     data-x="45" data-hoffset="0"
                     data-y="323"
                     data-speed="2000"
                     data-start="1400"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 8;">
                    <a  href="#anchor-whatwedo" data-scroll-to="#anchor-whatwedo" data-scroll-to-offset="-70" class="btn pi-btn-base">
                        <i class="icon-cog pi-icon-left"></i>Our services
                    </a>
                </div>

            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img_external/revolution-slider/think_bg.jpg' %}" alt="" data-bgfit="cover"
                     data-bgposition="center top" data-bgrepeat="no-repeat" style="opacity:0.1;">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->


                <!-- LAYER NR. 2 -->

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sft fadeout"
                     data-x="830"
                     data-y="127"
                     data-speed="2000"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 5"><img src="{% static 'img_external/revolution-slider/light-bulb-3.png' %}"
                                             alt="">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption fade fadeout"
                     data-x="779"
                     data-y="73"
                     data-speed="1800"
                     data-start="2400"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 6"><img src="{% static 'img_external/revolution-slider/light-bulb-4.png' %}"
                                             alt="">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sft str"
                     data-x="45" data-hoffset="0"
                     data-y="90"
                     data-speed="1500"
                     data-start="2400"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 7; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
                    Go from concept to deployment
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfl str"
                     data-x="45" data-hoffset="0"
                     data-y="165"
                     data-speed="2000"
                     data-start="2600"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 8; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
                    Leverage our vast experience to lauch your product quickly
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption sfb str"
                     data-x="45" data-hoffset="0"
                     data-y="250"
                     data-speed="2000"
                     data-start="2800"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 9;">
                    <a href="#anchor-contact" data-scroll-to="#anchor-contact" data-scroll-to-offset="-70" class="btn pi-btn-base">
                        <i class="icon-mail pi-icon-left"></i>Get in touch
                    </a>
                </div>

            </li>

        </ul>
    </div>
</div>

<span class="revolution-slider"></span>