<!-- - - - - - - - - - SECTION - - - - - - - - - -->
{% load staticfiles %}
<div id="anchor-clients" class="pi-section-w pi-border-top-light pi-section-grey piTooltips">
	<div class="pi-section pi-padding-bottom-80">

		<!-- Intro text -->
		<p class="lead-30 pi-text-dark pi-text-center">
			Our clients
		</p>

		<hr class="pi-divider-gap-70">
		<!-- End intro text -->

		<!-- Logos gallery -->
		<div class="pi-row pi-liquid-col-2xs-2 pi-liquid-col-sm-5 pi-gallery pi-gallery-small-margins">

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Nike">
					<a href="https://opennxos.cisco.com/"  target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/cisco.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Google">
					<a href="http://directedgar.com/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/de.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Sony">
					<a href="http://now.hashlearn.com/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/hl.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Virgin">
					<a href="http://www.credibase.com" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/cb.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

            <!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Instagram">
					<a href="http://1-cloud.net/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/co.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Instagram">
					<a href="https://www.shieldsquare.com/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/ss.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Disney">
					<a href="http://www.simplotel.com/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/sp.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Rolex">
					<a href="http://www.shipeasy.in/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/se.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Yahoo">
					<a href="http://mytingli.com/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/mt.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w " data-placement="top" title="" data-original-title="Yahoo">
					<a href="http://www.42mr.com/en/" target="_blank">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img/clientlogo/mr.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

		</div>
		<!-- End logos gallery -->

	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
