{% load staticfiles %}
<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-10">

		<!-- Row -->
		<div class="pi-row">

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-user"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">Dedicated Django Expert</a></h4>

						<p class="pi-margin-bottom-10">
							We provide dedicated Django expert for your product development. We have a very wide talent pool with varied experience in different technologies.
						</p>



					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-monitor"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">Development Resource</a></h4>

						<p class="pi-margin-bottom-10">
							We also provide resources (not dedicated) for your product development & support based on requirements and charges are hourly.
						</p>



					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-brush"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">UI / UX Design</a></h4>

						<p class="pi-margin-bottom-10">
							You got an idea. Great, our UI team can create top notch user interface designs for your product and also convert them into HTML/CSS for your developers.
						</p>



					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-globe"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark"></a> Web Applications </h4>

						<p class="pi-margin-bottom-10">
							Don't want to go through hassles of setting up tech team. No worries. We take your idea, develop, deploy and maintain your product with all the care you would have ensured yourself.
						</p>



					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-mobile"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">App Development</a></h4>

						<p class="pi-margin-bottom-10">
							Need an app for your idea or want to create web services out of existing website for your mobile app? No worries. We develop top notch andriod and iOS apps in unbelivebale time.
						</p>



					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-leaf"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">Frontend Development</a></h4>

						<p class="pi-margin-bottom-10">
							We are experinced in creating responsive and mobile first frontend designs. With our UI/UX team we can create kickass user experience for your product.
						</p>


					</div>

				</div>

			</div>
			<!-- End col 4 -->

		</div>
		<!-- End row -->

	</div>
</div>
<!-- End promo -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->