{% load staticfiles %}
<!-- - - - - - - - - - SECTION - - - - - - - - - -->
<div  class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-10">

	<!-- Row -->
		<div class="pi-row pi-grid-big-margins">

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #bbea76;">
						<img src="{% static 'img_external/icons/80px/light-bulb-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">Strategy Solutions</a></h4>

					<p>
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut dolorem ipsum
					</p>
					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #84d784;">
						<img src="{% static 'img_external/icons/80px/monitor-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">Digital Design</a></h4>

					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus
					</p>

					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #6abd9b;">
						<img src="{% static 'img_external/icons/80px/pencil-brush-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">Illustration</a></h4>

					<p>
						Unde omnis iste natus error sit voluptatem accusantium doloremque
					</p>

					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #5bb3b3;">
						<img src="{% static 'img_external/icons/80px/cog-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">Web Development</a></h4>

					<p>
						Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
					</p>

					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

		</div>
		<!-- End row -->

		<!-- Row -->
		<div class="pi-row pi-grid-big-margins">

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #f7e75d;">
						<img src="{% static 'img_external/icons/80px/tablet-mobile-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">App Development</a></h4>

					<p>
						Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut dolorem ipsum
					</p>
					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #f68045;">
						<img src="{% static 'img_external/icons/80px/search-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">S.E.O.</a></h4>

					<p>
						Sed ut perspiciatis unde omnis iste natus error sit voluptatem accus
					</p>

					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #e14d39;">
						<img src="{% static 'img_external/icons/80px/mail-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">Email Services</a></h4>

					<p>
						Unde omnis iste natus error sit voluptatem accusantium doloremque
					</p>

					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

			<!-- Col 3 -->
			<div class="pi-col-sm-3 pi-col-xs-6 pi-padding-bottom-50">

				<div class="pi-icon-box-vertical pi-icon-box-vertical-icon-bigger pi-text-center">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base" style="background: #c43b48;">
						<img src="{% static 'img_external/icons/80px/compass-lined-white.png' %}" alt="" />
					</div>

					<h4><a href="#" class="pi-link-dark">Web Marketing</a></h4>

					<p>
						Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam
					</p>

					<p>
						<a href="#" class="btn pi-btn">
							More info
						</a>
					</p>

				</div>

			</div>
			<!-- End col 3 -->

		</div>
		<!-- End row -->

	</div>
</div>
<!-- End promo -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->