<!-- - - - - - - - - - SECTION - - - - - - - - - -->
{% load staticfiles %}
<div id="anchor-clients" class="pi-section-w pi-border-top-light pi-section-grey piTooltips">
	<div class="pi-section pi-padding-bottom-80">

		<!-- Intro text -->
		<p class="lead-30 pi-text-dark pi-text-center">
			Our clients
		</p>

		<hr class="pi-divider-gap-70">
		<!-- End intro text -->

		<!-- Logos gallery -->
		<div class="pi-row pi-liquid-col-2xs-2 pi-liquid-col-sm-5 pi-gallery pi-gallery-small-margins">

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Nike">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/nike-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Google">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/google-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Sony">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/sony-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Virgin">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/virgin-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Instagram">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/instagram-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Disney">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/disney-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Rolex">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/rolex-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Yahoo">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/yahoo-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Amazon">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/amazon-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Cartier">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/cartier-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Microsoft">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/microsoft-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Nickelodeon">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/nickelodeon-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Yelp">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/yelp-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Diesel">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/diesel-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

			<!-- Logo -->
			<div class="pi-gallery-item">
				<div class="pi-img-w pi-tooltip" data-placement="top" title="" data-original-title="Converse">
					<a href="#">
					<span class="pi-img-border-double pi-img-opacity-70">
						<img src="{% static 'img_external/clients/converse-2.png' %}" alt="">
					</span>
					</a>
				</div>
			</div>
			<!-- End logo -->

		</div>
		<!-- End logos gallery -->

	</div>
</div>

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->
