{% load staticfiles %}
<div id="anchor-about" class="pi-section-w pi-section-white pi-slider-enabled">
    <div class="pi-section pi-padding-top-bottom-80">

        <div class="pi-row pi-padding-bottom-20">
            <div class="pi-col-sm-6 pi-padding-bottom-40">

                <!-- Slider -->
                <div class="pi-slider-wrapper pi-slider-arrows-inside pi-slider-show-arrow-hover">
                    <div class="pi-slider pi-slider-animate-opacity">

                        <!-- Slide -->
                        <div class="pi-slide">
                            <div class="pi-img-w pi-img-round-corners pi-img-shadow pi-img-with-overlay">

                                <a href="#"><img src="{% static 'img/team/team2.jpg' %}" alt=""/></a>

                            </div>
                        </div>
                        <!-- End slide -->

                        <!-- Slide -->
                        <div class="pi-slide">
                            <div class="pi-img-w pi-img-round-corners pi-img-shadow pi-img-with-overlay">

                                <a href="#"><img src="{% static 'img/team/team1.jpg' %}" alt=""/></a>

                            </div>
                        </div>
                        <!-- End slide -->

                    </div>
                </div>
                <!-- End slider -->

            </div>
            <div class="pi-col-sm-6 pi-padding-bottom-40">

                <h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20 pi-margin-top-minus-5">
                    Who We Are
                </h2>

                <p class="lead-24 pi-weight-300">
                    <em>Temporibus autem quibusdam et aut officiis debitis aut rerum est aut optio cumque nihil
                        necessitatibus autem</em>
                </p>

                <p>
                    Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est
                    eligendi optio cumque nihil impedit quo facilis est et expedita distinctio minus id quod maxime
                    placeat facere possimus, omnis voluptas
                    assumenda est, <a href="#">omnis dolor repellendus</a>. Temporibus autem cum soluta nobis est
                    eligendi quibusdam et aut officiis debitis autem cum soluta nobis est aut optio cumque nihil impedit
                    quo facilis facere possimus, omnis voluptas rerum necessitatibus quibusdam et aut officiis debitis
                    autem cum soluta saepe eveniet ut et <a href="#">voluptates repudiandae</a> sint et molestiae non
                    recusandae tempore, cum soluta nobis est eligendi.
                </p>

            </div>
        </div>


        <div class="pi-row">
			<div class="pi-col-sm-4">

				<h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20">
					Who We Are
				</h2>

				<p>
					Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
				</p>

			</div>
			<div class="pi-col-sm-4">

				<h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20">
					Our Mission
				</h2>

				<p>
					Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit.
				</p>

			</div>

			<div class="pi-col-sm-4">

				<h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20">
					Our Philosophy
				</h2>

				<p>
					Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.
				</p>

			</div>
		</div>

    </div>
</div>