{% load staticfiles %}
<div id="anchor-about" class="pi-section-w pi-section-white pi-slider-enabled">
    <div class="pi-section pi-padding-top-80">

        <div class="pi-row pi-padding-bottom-20">
            <div class="pi-col-sm-6 pi-padding-bottom-40">

                <!-- Slider -->
                <div class="pi-slider-wrapper pi-slider-arrows-inside pi-slider-show-arrow-hover">
                    <div class="pi-slider pi-slider-animate-opacity">

                        <!-- Slide -->
                        <div class="pi-slide">
                            <div class="pi-img-w pi-img-round-corners pi-img-shadow pi-img-with-overlay">

                                <a href="#"><img src="{% static 'img/team/team2.jpg' %}" alt=""/></a>

                            </div>
                        </div>
                        <!-- End slide -->

                        <!-- Slide -->
                        <div class="pi-slide">
                            <div class="pi-img-w pi-img-round-corners pi-img-shadow pi-img-with-overlay">

                                <a href="#"><img src="{% static 'img/team/team1.jpg' %}" alt=""/></a>

                            </div>
                        </div>
                        <!-- End slide -->

                    </div>
                </div>
                <!-- End slider -->

            </div>
            <div class="pi-col-sm-6 pi-padding-bottom-40">

                <h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20 pi-margin-top-minus-5">
                    Who We Are
                </h2>

                <p class="lead-24 pi-weight-300">
                    <em>We are a team of dedicated and excellent programmers who simply love to code in Python and Django.</em>
                </p>

                <p>
                     We do have our fair share of love towards various other technologies. In our vast experience we have developed web and mobile applications using Django, Django Rest Framework, Flask, Scrapy, Elastic and front end technologies such as Angular, Backbone & ReactJS. At the data end, we have applications running on DBMS such as MySQL, PostgreSQL, SQLite & MongoDb etc. We have exellent insights into application specific server/deployment requirements and deployed applications in various cloud platforms such as AWS, Heroku, DigitalOcean and OpenShift.
                </p>

            </div>
        </div>


        <div class="pi-row">
			<div class="pi-col-sm-6">

				<h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20">
					Our Core Value
				</h2>

				<p>
					We believe that promises have to be kept. To achieve that promises have to be realistic. At Pydan, meeting the deadline is not something that you worry about at the end of the project but rather it starts at the time of promising delivery date to clients itself. That is why we are able to build strong and continuos relationships with our clients.
				</p>

			</div>
			<div class="pi-col-sm-6">

				<h2 class="h4 pi-weight-700 pi-uppercase pi-letter-spacing pi-has-bg pi-margin-bottom-20">
					Our Strengths
				</h2>

				<p>
					 Pydan Team consists of capable programmers having excellent ownership traits. Combination of these two is enabling us to deliver complex projects in short period of time. In our vast experience we have seen and learned many things and that wisdom helps to achieve more and more every day.
				</p>

			</div>


		</div>

    </div>
</div>