{% load staticfiles %}

<!-- - - - - - - - - - SECTION - - - - - - - - - -->

<div class="pi-section-w pi-section-white">
	<div class="pi-section pi-padding-bottom-10">

		<!-- Row -->
		<div class="pi-row">

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-lamp"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">Dedicated Django Expert</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
						</p>

						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>

					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-monitor"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">Development Resource</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
						</p>

						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>

					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-brush"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">UI / UX Design</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
						</p>

						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>

					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-cog"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">Web Development</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
						</p>

						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>

					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<div class="pi-clearfix pi-visible-xs"></div>

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-mobile"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">App Development</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
						</p>

						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>

					</div>

				</div>

			</div>
			<!-- End col 4 -->

			<!-- Col 4 -->
			<div class="pi-col-xs-6 pi-col-sm-4 pi-padding-bottom-30">

				<div class="pi-icon-box pi-icon-box-hover">

					<div class="pi-icon-box-icon pi-icon-box-icon-circle pi-icon-box-icon-base">
						<i class="icon-search"></i>
					</div>

					<div class="pi-icon-box-content-2">

						<h4><a href="#" class="pi-link-dark">S.E.O.</a></h4>

						<p class="pi-margin-bottom-10">
							Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium
						</p>

						<p>
							<a href="#">More info<i class="icon-right-open-mini pi-icon-right"></i></a>
						</p>

					</div>

				</div>

			</div>
			<!-- End col 4 -->

		</div>
		<!-- End row -->

	</div>
</div>
<!-- End promo -->

<!-- - - - - - - - - - END SECTION - - - - - - - - - -->