{% load staticfiles %}
<div id="anchor-home" class="tp-banner-container">
    <div class="tp-banner pi-revolution-slider">
        <ul class="">

            <!-- SLIDE -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img_external/revolution-slider/back-7.jpg' %}" alt="" data-bgfit="cover"
                     data-bgposition="center top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfl fadeout"
                     data-x="480"
                     data-y="90"
                     data-speed="800"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img_external/revolution-slider/young-women.png' %}" alt="">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfr fadeout"
                     data-x="780"
                     data-y="50"
                     data-speed="800"
                     data-start="1800"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 4"><img src="{% static 'img_external/revolution-slider/young-men.png' %}" alt="">
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sft str"
                     data-x="45" data-hoffset="0"
                     data-y="157"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 5; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
                    We are your partner
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sfl str"
                     data-x="45" data-hoffset="0"
                     data-y="236"
                     data-speed="500"
                     data-start="2600"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 6; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
                    in Django World
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfb str"
                     data-x="45" data-hoffset="0"
                     data-y="303"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 7;">
                    <a href="#anchor-contact"
                       class="btn pi-btn-base">
                        Get in touch
                    </a>
                </div>

            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img_external/revolution-slider/back-8.jpg' %}" alt="" data-bgfit="cover"
                     data-bgposition="center top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout"
                     data-x="535"
                     data-y="28"
                     data-speed="800"
                     data-start="1500"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img_external/revolution-slider/pad-hands.png' %}" alt="">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption fade fadeout"
                     data-x="677"
                     data-y="72"
                     data-speed="300"
                     data-start="1700"
                     data-easing="Power4.easeOut"
                     data-endspeed="0"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 4"><img src="{% static 'img_external/revolution-slider/drawing-boy-1.png' %}"
                                             alt="">
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption fade fadeout"
                     data-x="677"
                     data-y="72"
                     data-speed="300"
                     data-start="3000"
                     data-easing="Power4.easeOut"
                     data-endspeed="0"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 5"><img src="{% static 'img_external/revolution-slider/drawing-boy-2.png' %}"
                                             alt="">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption sft str"
                     data-x="45" data-hoffset="0"
                     data-y="157"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 6; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
                    We provide dedicated experts
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sfl str"
                     data-x="45" data-hoffset="0"
                     data-y="236"
                     data-speed="500"
                     data-start="2600"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 7; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
                    to support your product development (remote/onsite)
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfb str"
                     data-x="45" data-hoffset="0"
                     data-y="303"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 8;">
                    <a href="#anchor-whatwedo" class="btn pi-btn-base">
                        <i class="icon-cog pi-icon-left"></i>Our services
                    </a>
                </div>

            </li>

            <!-- SLIDE  -->
            <li data-transition="fade" data-slotamount="1" data-masterspeed="1000">
                <!-- MAIN IMAGE -->
                <img src="{% static 'img_external/revolution-slider/back-10.jpg' %}" alt="" data-bgfit="cover"
                     data-bgposition="center top" data-bgrepeat="no-repeat">
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption sfb fadeout"
                     data-x="815"
                     data-y="252"
                     data-speed="900"
                     data-start="1000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 3"><img src="{% static 'img_external/revolution-slider/men-head.png' %}" alt="">
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption sfb fadeout"
                     data-x="435"
                     data-y="270"
                     data-speed="900"
                     data-start="1300"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 4"><img src="{% static 'img_external/revolution-slider/women-head.png' %}" alt="">
                </div>

                <!-- LAYER NR. 3 -->
                <div class="tp-caption sft fadeout"
                     data-x="720"
                     data-y="97"
                     data-speed="800"
                     data-start="2000"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 5"><img src="{% static 'img_external/revolution-slider/light-bulb-3.png' %}"
                                             alt="">
                </div>

                <!-- LAYER NR. 4 -->
                <div class="tp-caption fade fadeout"
                     data-x="669"
                     data-y="43"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Power4.easeOut"
                     data-endspeed="300"
                     data-endeasing="Power1.easeIn"
                     data-captionhidden="on"
                     style="z-index: 6"><img src="{% static 'img_external/revolution-slider/light-bulb-4.png' %}"
                                             alt="">
                </div>

                <!-- LAYER NR. 5 -->
                <div class="tp-caption sft str"
                     data-x="45" data-hoffset="0"
                     data-y="157"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 7; font-size: 34px; color: #21252b; font-weight: 600; letter-spacing: 1px; text-transform: uppercase; line-height: 40px; background: rgba(255, 255, 255, 0.9); padding: 12px 16px; border-radius: 3px; box-shadow: 0 1px 1px rgba(0,0,0,0.15);">
                    Go from concept to deployment
                </div>

                <!-- LAYER NR. 6 -->
                <div class="tp-caption sfl str"
                     data-x="45" data-hoffset="0"
                     data-y="236"
                     data-speed="500"
                     data-start="2600"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 8; font-size: 20px; color: #fff; font-weight: 300; line-height: 28px; background: rgba(33, 37, 43, 0.8); padding: 12px 16px; border-radius: 3px;">
                    Leverage our vast experience to lauch your product quickly
                </div>

                <!-- LAYER NR. 7 -->
                <div class="tp-caption sfb str"
                     data-x="45" data-hoffset="0"
                     data-y="303"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Back.easeInOut"
                     data-endspeed="300"
                     style="z-index: 9;">
                    <a href="#anchor-contact" class="btn pi-btn-base">
                        <i class="icon-mail pi-icon-left"></i>Get in touch
                    </a>
                </div>

            </li>

        </ul>
    </div>
</div>

<span class="revolution-slider"></span>