<div class="pi-row-block pi-pull-right">
    <ul class="pi-simple-menu pi-has-hover-border pi-full-height pi-hidden-sm">
        <li><a href="/"><span>Home</span></a></li>
        <li><a href="/#anchor-whatwedo" ><span>What we do</span></a></li>
        <li><a href="/#anchor-clients" ><span>Clients</span></a></li>
        <li><a href="/#anchor-about" ><span>About Us</span></a></li>
        <li><a href="/blog" ><span>Blog</span></a></li>
        <li><a href="/#anchor-contact" ><span>Contact Us</span></a></li>
    </ul>
</div>