{% load staticfiles %}
<div class="pi-section-w pi-section-dark">
    <div class="pi-section pi-row-sm">
        <!-- Phone -->
        <div class="pi-row-block pi-row-block-txt pi-hidden-xs">
            <a href="tel:+918884088890"><i class="pi-row-block-icon icon-phone pi-icon-base pi-icon-square"></i><span class="pi-section-dark">Call Us:</span>
            <strong>+91 88840 88890</strong></a>
        </div>
        <!-- End phone -->
        <!-- Email -->
        <div class="pi-row-block pi-row-block-txt pi-hidden-xs"><a href="mailto:info@pydan.com"><i class="pi-row-block-icon icon-mail pi-icon-base pi-icon-square"></i><span class="pi-section-dark">Email:</span> info@pydan.com</a>
        </div>
{#        <div class="pi-row-block pi-row-block-txt pi-visible-2xs"><a href="#anchor-contact" data-scroll-to="#anchor-contact" data-scroll-to-offset="-70"><i class="pi-row-block-icon icon-mail pi-icon-base pi-icon-square"></i></a>#}
{#        </div>#}
        <!-- End email -->
{##}
{#        <ul class="pi-social-icons pi-colored-bg pi-active-bg pi-small pi-round-corners pi-clearfix pi-visible-2xs">#}
{#            <li><a href="https://www.facebook.com/pydanindia/" target="_blank"  class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>#}
{#            <li><a href="https://twitter.com/pydan_" target="_blank"  class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>#}
{#        </ul>#}

        <!-- Social icons -->
        <div class="pi-row-block pi-pull-right pi-hidden-2xs">
            <ul class="pi-social-icons pi-stacked pi-jump pi-full-height pi-bordered pi-small pi-colored-bg clearFix">
                <li><a href="https://twitter.com/pydan_" target="_blank" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/pydanindia/"  target="_blank"  class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
               <!-- <li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li> -->
            </ul>
        </div>
        <!-- End social icons -->

        <!-- Text -->
        <div class="pi-row-block pi-row-block-txt pi-pull-right pi-hidden-xs">Follow Us:</div>
        <!-- End text -->

    </div>
</div>