{% load staticfiles %}
<!-- Widget area -->
<div class="pi-section-w pi-border-bottom pi-border-top-light pi-section-dark">
    <div class="pi-section pi-padding-bottom-10">

        <!-- Row -->
        <div class="pi-row">

            <!-- Col 4 -->
            <div class="pi-col-md-4 pi-padding-bottom-30">

                <h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
                    <a href="#" class="pi-link-no-style">Latest Tweet</a>
                </h6>

                <!-- Twitter -->
                <div class="pi-footer-tweets">
                    <ul class="pi-bullets-circle pi-bullets-base pi-bullets pi-list-big-margins">
                        <li><span class="pi-bullet-icon"><i class="icon-twitter"></i></span><a
                                href="http://twitter.com/PIthemess" target="_blank" title="PIthemess on Twitter">@PIthemess</a>
                            Meet Aura 1.6 version. A lot of new things are coming soon. <br><span
                                    class="pi-smaller-text pi-italic pi-text-opacity-50">Jun. 29, 2014</span></li>
                        <li><span class="pi-bullet-icon"><i class="icon-twitter"></i></span><a
                                href="http://twitter.com/PIthemess" target="_blank" title="PIthemess on Twitter">@PIthemess</a>
                            Hey, this is PI Themes twitter account! <br><span
                                    class="pi-smaller-text pi-italic pi-text-opacity-50">Jun. 29, 2014</span></li>
                    </ul>
                </div>
                <!-- End twitter -->

            </div>
            <!-- End col 4 -->

            <div class="pi-clearfix pi-hidden-lg-only pi-hidden-md-only"></div>

            <!-- Col 4 -->
            <div class="pi-col-md-4 pi-col-sm-6 pi-padding-bottom-30"
                 style="background-image: url('img/map-base.png'); background-position: 50% 55px; background-repeat: no-repeat;">

                <h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
                    Contact Us
                </h6>

                <!-- Contact info -->
                <ul class="pi-list-with-icons pi-list-big-margins">

                    <li>
                        <span class="pi-bullet-icon"><i class="icon-location"></i></span>
                        <strong>Address:</strong> 557 Cyan Avenue, Suite 65, <br>New York, CA 9008
                    </li>

                    <li>
                        <span class="pi-bullet-icon"><i class="icon-phone"></i></span>
                        <strong>Phone:</strong> (123) 456-7890
                    </li>

                    <li>
                        <span class="pi-bullet-icon"><i class="icon-mail"></i></span>
                        <strong>Email:</strong> <a href="mailto:hello@pitheme.com">hello@pitheme.com</a>
                    </li>

                    <li>
                        <span class="pi-bullet-icon"><i class="icon-clock"></i></span>
                        Monday - Friday: <strong>9:00 am - 10:00 pm</strong>
                        <br>
                        Saturday - Sunday: <strong>Closed</strong>
                    </li>

                </ul>
                <!-- End contact info -->

            </div>
            <!-- End col 4 -->

            <!-- Col 4 -->
            <div class="pi-col-md-4 pi-col-sm-6 pi-padding-bottom-30">

                <h6 class="pi-margin-bottom-25 pi-weight-700 pi-uppercase pi-letter-spacing">
                    Say Hey
                </h6>

                <!-- Contact form -->
                <form role="form" action="handlers/formContact.php" data-captcha="no" class="pi-contact-form">
                    <div class="pi-error-container"></div>
                    <div class="pi-row pi-grid-small-margins">
                        <div class="pi-col-2xs-6">
                            <div class="form-group">
                                <div class="pi-input-with-icon">
                                    <div class="pi-input-icon"><i class="icon-user"></i></div>
                                    <input class="form-control form-control-name" id="exampleInputName"
                                           placeholder="Name">
                                </div>
                            </div>
                        </div>
                        <div class="pi-col-2xs-6">
                            <div class="form-group">
                                <div class="pi-input-with-icon">
                                    <div class="pi-input-icon"><i class="icon-mail"></i></div>
                                    <input type="email" class="form-control form-control-email"
                                           id="exampleInputEmail"
                                           placeholder="Email">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="pi-input-with-icon">
                            <div class="pi-input-icon"><i class="icon-pencil"></i></div>
							<textarea class="form-control form-control-comments" id="exampleInputMessage"
                                      placeholder="Message"
                                      rows="3"></textarea>
                        </div>
                    </div>
                    <p>
                        <button type="submit" class="btn pi-btn-base pi-btn-no-border">Send</button>
                    </p>
                </form>
                <!-- End contact form -->

            </div>
            <!-- End col 4 -->

        </div>
        <!-- End row -->

    </div>
</div>
<!-- End widget area -->

<!-- Copyright area -->
<div class="pi-section-w pi-section-dark pi-border-top-light pi-border-bottom-strong-base">
    <div class="pi-section pi-row-lg pi-center-text-2xs pi-clearfix">

        <!-- Social icons -->
        <div class="pi-row-block pi-pull-right pi-hidden-2xs">
            <ul class="pi-social-icons-simple pi-small clearFix">
                <li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
                <li><a href="#" class="pi-social-icon-tumblr"><i class="icon-tumblr"></i></a></li>
                <li><a href="#" class="pi-social-icon-vimeo"><i class="icon-vimeo"></i></a></li>
                <li><a href="#" class="pi-social-icon-rss"><i class="icon-rss"></i></a></li>
            </ul>
        </div>
        <!-- End social icons -->

        <!-- Footer logo -->
        <div class="pi-row-block pi-row-block-logo pi-row-block-bordered"><a href="#"><img
                src="{% static 'img/logo-opacity-dark.png' %}" alt=""></a></div>
        <!-- End footer logo -->

        <!-- Text -->
		<span class="pi-row-block pi-row-block-txt pi-hidden-xs">&copy; 2014. &laquo;<a href="#">Aura HTML Theme</a>&raquo;.
			All right reserved.
		</span>
        <!-- End text -->
    </div>
</div>
<!-- End copyright area -->