{% load staticfiles %}
<!-- Copyright area -->
<div class="pi-section-w pi-section-dark pi-border-top-light pi-border-bottom-strong-base">
    <div class="pi-section pi-row-lg pi-center-text-2xs pi-clearfix">

        <!-- Social icons -->
        <div class="pi-row-block pi-pull-right pi-hidden-2xs">
            <ul class="pi-social-icons-simple pi-small clearFix">
                <li><a href="#" class="pi-social-icon-facebook"><i class="icon-facebook"></i></a></li>
                <li><a href="#" class="pi-social-icon-twitter"><i class="icon-twitter"></i></a></li>
                <li><a href="#" class="pi-social-icon-dribbble"><i class="icon-dribbble"></i></a></li>
                <li><a href="#" class="pi-social-icon-tumblr"><i class="icon-tumblr"></i></a></li>
                <li><a href="#" class="pi-social-icon-vimeo"><i class="icon-vimeo"></i></a></li>
                <li><a href="#" class="pi-social-icon-rss"><i class="icon-rss"></i></a></li>
            </ul>
        </div>
        <!-- End social icons -->

        <!-- Footer logo -->
        <div class="pi-row-block pi-row-block-logo pi-row-block-bordered"><a href="#"><img
                src="{% static 'img/logo-opacity-dark.png' %}" alt=""></a></div>
        <!-- End footer logo -->

        <!-- Text -->
		<span class="pi-row-block pi-row-block-txt pi-hidden-xs">&copy; 2014. &laquo;<a href="#">Aura HTML Theme</a>&raquo;.
			All right reserved.
		</span>
        <!-- End text -->
    </div>
</div>
<!-- End copyright area -->