{% load staticfiles %}
<!-- Copyright area -->
<div class="pi-section-w pi-section-dark pi-border-top-light pi-border-bottom-strong-base">
    <div class="pi-section pi-row-lg pi-center-text-2xs pi-clearfix">


        <!-- End social icons -->

        <!-- Footer logo -->

        <!-- End footer logo -->

        <!-- Text -->
		<span class="pi-row-block pi-row-block-txt pi-hidden-xs"> <a href="http://www.pydan.com">Pydan</a> &copy; 2016.
			All rights reserved.
		</span>
         <!-- Social icons -->
        <div class="pi-row-block pi-hidden-2xs">
            <ul class="pi-social-icons-simple pi-small clearFix">
                <li><a href="http://www.facebook.com/pydanindia/" class="pi-social-icon-facebook" target="_blank"><i class="icon-facebook"></i></a></li>
                <li><a href="http://twitter.com/pydan_" class="pi-social-icon-twitter" target="_blank"><i class="icon-twitter"></i></a></li>

            </ul>
        </div>
        <!-- End text -->
    </div>
</div>
<!-- End copyright area -->