{% load staticfiles %}
<script src="{% static '3dParty/jquery-1.11.0.min.js' %}"></script>
<script src="{% static '3dParty/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'scripts/pi.googleMapStyles.js' %}"></script>
<script src="https://maps.google.com/maps/api/js?sensor=false"></script>
<script src="{% static '3dParty/jquery.touchSwipe.min.js' %}"></script>
<script src="{% static '3dParty/gauge.min.js' %}"></script>
<script src="{% static '3dParty/inview.js' %}"></script>
<script src="{% static '3dParty/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static '3dParty/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static '3dParty/requestAnimationFramePolyfill.min.js' %}"></script>
<script src="{% static '3dParty/jquery.scrollTo.min.js' %}"></script>
<script src="{% static '3dParty/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'scripts/pi.global.js' %}"></script>
<script src="{% static 'scripts/pi.slider.js' %}"></script>
<script src="{% static 'scripts/pi.init.slider.js' %}"></script>
<script src="{% static '3dParty/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'scripts/pi.counter.js' %}"></script>
<script src="{% static 'scripts/pi.init.counter.js' %}"></script>
<script src="{% static 'scripts/pi.parallax.js' %}"></script>
<script src="{% static 'scripts/pi.init.parallax.js' %}"></script>
<script src="{% static 'scripts/pi.init.revolutionSlider.js' %}"></script>
<script src="{% static 'scripts/pi.tooltip.js' %}"></script>
<script src="{% static 'scripts/pi.init.tooltip.js' %}"></script>
<script src="{% static 'scripts/pi.tab.js' %}"></script>
<script src="{% static 'scripts/pi.init.tab.js' %}"></script>
<script src="{% static 'scripts/pi.init.map.js' %}"></script>
<script src="{% static '3dParty/jquery.gmap.min.js' %}"></script>
<script src="{% static '3dParty/requestAnimationFramePolyfill.min.js' %}"></script>
<script src="{% static 'scripts/pi.alert.min.js' %}"></script>
<script src="{% static 'scripts/pi.init.submitFormContact.js' %}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

